* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    background-image: url(cabecera.jpg);
    background-size: cover;
    display: grid;
    align-self: center;
}


main#container {
    background-image: url(reloj.jpg);
    background-size: cover;
    max-width: 40%;
    width: 40%;
    min-width: 400px;
    height: 200px;
    overflow: -moz-hidden-unscrollable;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-radius: 20%;
    box-shadow: 0px 0px 0px 20px #bb88297c;
}

div.itemDate {
    display: block;
    width: 150px;
    max-width: 150px;
    height: 100px;
    overflow: visible;
    border: 8px double #bb8829d3;
    color: rgb(234, 234, 241);
    border-radius: 20%;
    margin: auto .2rem auto .2rem;
    padding: .2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.527);
}



div.itemDoblePoint {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: auto;
    text-align: center;
    width: 30px;
    color: #bb8829;
    font-weight: bolder;
}


footer {
    font-size: 1rem;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.568);
    width: 30%;
    min-width: 200px;
    margin: auto;
    margin-top: 20px;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #DADDDA;
}
